/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */



*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: rgb(20, 20, 20);
    font-family: 'Open Sans', sans-serif;
}

/* header{
    background: #fff;
    padding: 20px;
} */
header > h2{
    color: rgb(36, 21, 41);
    text-align: center;
}

.score-board{
    margin: 20px auto;
    border: rgb(110, 197, 255) solid ;
    width: 15rem;
    padding: 25px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.badge{
    background: rgb(56, 42, 88);
    padding: 4px 10px;
    font-size: 14px;
}

#user-label{
    position: absolute;
    left: -27px;
    top: 27px;
}

#computer-label{
    position: absolute;
    right: -27px;
    top: 27px;
}

.winner{
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(187, 187, 187);
    user-select: none;
}

.selection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 12px;
}

.choice{
    /* background: rgba(255, 255, 255, 0.353); */
    border-radius:4px;
    transition: 0.3s ;
    transform: scale(1);
    user-select: none;
    cursor: pointer;
}

.choice:hover{
    /* background: rgb(185, 185, 185); */
    color: rgb(39, 25, 63);
    /* box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.116) ; */
    transform: scale(1.05);
}

.make-move{
    margin: 2rem auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}



.normal-fade{
    border: rgb(110, 197, 255) solid ;
    transition: 0.5s all;
}


.cals{
    border: rgba(255, 254, 254, 0.323);
}