*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: rgb(20, 20, 20);
}

header{
    background: #fff;
    padding: 20px;
}
header > h2{
    color: rgb(36, 21, 41);
    text-align: center;
}

.score-board{
    margin: 20px auto;
    border: rgb(110, 197, 255) solid ;
    width: 15rem;
    padding: 25px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.badge{
    background: rgb(56, 42, 88);
    padding: 4px 10px;
    font-size: 14px;
}

#user-label{
    position: absolute;
    left: -27px;
    top: 27px;
}

#computer-label{
    position: absolute;
    right: -27px;
    top: 27px;
}

.winner{
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(187, 187, 187);
    user-select: none;
}

.selection{
    display: flex;
    justify-content: space-around;
    flex: 1 1 12px;
}

.choice{
    color: rgb(45, 29, 66);
    background: #fff;
    padding:1rem 4rem;
    border-radius:4px;
    transition: 0.3s ;
    transform: scale(1);
    user-select: none;
    cursor: pointer;
}

.choice:hover{
    background: rgb(255, 255, 255);
    color: rgb(39, 25, 63);
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.116) ;
    transform: scale(1.033);
}

.make-move{
    margin: 2rem auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}



.normal-fade{
    border: rgb(110, 197, 255) solid ;
    transition: 1s all;
}


